.cart{
        width:100%;
        display: -webkit-flex;
        align-items: center;
        padding:10px;
        padding-top:60px;
		justify-content: center;
	}
	.cart .product-pic{
		width:50%;
		display: -webkit-flex;
		align-items: center;
		justify-content: center;
		margin-top:20px;
	}
	.cart .product-pic img{
		width:60%;
		display: block;
		margin:0 auto;
	}
	.cart .product-detail{
		width:50%;
		align-items: center;
		justify-content: center;
	}
	.cart .product-detail .d-name{
		text-align: left;
		line-height: 60px;
		font-size: 20px;
		color:#333;
		border-bottom:1px solid #999;
	}
	.cart .product-detail .d-descript{
		margin-top:20px;
		position: relative;
	}
	.cart .product-detail .d-descript .d-tit{
		color:#0090ff;
		font-size: 14px;
		text-align: left;
		position: absolute;
		left:0;
		top:0;
	}
	.cart .product-detail .d-descript .d-cont{
		padding-left:100px;
	}
	.cart .product-detail .d-descript .d-cont .intro{
		line-height: 18px;
		font-size: 14px; 
	}
	.cart .product-detail .d-descript .d-cont .prize{
		color:#f54f4f;
	}
	.cart .product-detail .d-descript .d-cont .color{
		padding:6px 14px;
		display: inline-block;
		font-size: 12px;
		margin-top:10px;
		margin:10px 5px;
		border:1px solid #999;
	}
	.cart .product-detail .d-descript .d-cont .color.active{
		border:1px solid red;

	}
	.cart .product-detail .d-descript .d-cont .rom{
		padding:6px 14px;
		display: inline-block;
		font-size: 12px;
		margin-top:10px;
		margin:10px 5px;
		border:1px solid #999;
	}
	.cart .product-detail .d-descript .d-cont .rom.active{
		border:1px solid red;
	}
	.cart .product-detail  .get-it{
        width:100%;
        margin-top: 20px;
	}
	.cart .product-detail .get-it a{
	    height:40px;
	    width:40%;
        line-height: 40px;
        text-align: center;
        color:#fff;
        background: #ccc;
        display: inline-block;	
	}
	.cart .product-detail .my-cart{
		height:40px;
		background:#0090ff !important;
		color:#fff;
        display: inline-block;	
	}
	.cart .product-detail .get-it a.active{
		background:#0090ff;
	}
	.rom.active,.color.active{
		border:1px solid red;
	}
	@media screen and (max-width: 768px){
		.cart {
			display: block;
			text-align: center;
		}
		.cart .product-detail,.cart .product-pic{
			display: block;
			width:100%;
			margin:0 auto;
		}
	}