.user-center{
	background: #f7f7f7;
	padding-left:10px;
	padding-right: 10px;
}
.user-center .wrapper{
	margin-top:10px;
	padding:10px;
	background:#fff;
}
.user-center .wrapper .user-img{
	width:100px;
	height:100px;
	display: block;
	overflow: hidden;
	margin-top:30px;
	border-radius: 50%;
}
.user-center .wrapper .user-img img{
	width:100px;
	height:100px;
	display: block;
}
#preview-img{
	max-width:100%;
}
#preview-img img{
	width:100%;
}