.video-play{
	padding:10px;
}
.video-play h4{
	 margin-top: 10px;
    font-size:16px;
    color: #333;
}
#player-modal{
	width: 100%;
    padding-right: 0;
    height:200px;
}
.full-screen{
	margin-top:10px;
}
@media screen and (max-width: 768px) and (orientation: portrait){
    .full-screen {
        position: static;

    }
}
