.aside{
	position: fixed;
	width:250px;
	top:0;
	left:0;
	height:100%;
	overflow: hidden;
	overflow-y: auto;
	background:#fff;
	z-index: 100;
}
.aside-transition{
	transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
	-webkit-transform:translate3d(0%,0,0)
}
.aside-enter,.aside-leave{
	-webkit-transform:translate3d(-100%,0,0)
}
.aside.active{
	-webkit-transform:translate3d(0,0,0)
}
.aside .aside-header{
	height:100px;
	background:#0090ff;
	padding:10px;
	color:#fff;
}
.aside .aside-header a{
	width:50px;
	height:50px;
	overflow: hidden;
	border-radius: 50%;
}
.aside .aside-header a img{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.aside .aside-header a span{
	display: block;
	line-height: 40px;
	color:#fff;
	text-align: left;
}
.aside .aside-content{
	margin-top:10px;
}
.aside .aside-content a{
	color:#333;
	padding:0 10px;
	width:100%;
	display: block;
	height:40px;
	line-height: 40px;
	text-align: left;
}
.aside .aside-content a:before{
	font-size: 16px;
	margin-right:20px;
}
.aside .home #home{
	background:#ddd;
}
.aside .live #live{
	background:#ddd;
}
.aside .video #video{
	background:#ddd;
}
.aside .shop #shop{
	background:#ddd;
}
.aside .about #about{
	background:#ddd;
}
.aside .aside-content a.active{
	background:#ddd;
}
.aside .aside-footer{
	position: absolute;
	left:0px;
	bottom:0px;
	width:100%;
}
.aside .aside-footer a{
    height:40px;
	width:100%;
	background:#ddd;
	text-align: center;
	line-height: 40px;
	color:#333;
	display: block;
}
.aside .close{
	position: absolute;
	padding:10px;
	color:#fff;
	display: block;
	top:0;
	right:0
}
.aside-mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	position: fixed;
	left:0;
	top:0;
	z-index: 99
}
