.footer{
	width:100%;
	background:#0090ff;
	text-align: center;
	padding:10px;
}
.footer .logo{
    margin:0 auto;
    margin-top:10px;
    width:auto;
    height:auto

}
.footer .weixin{
	margin:10px auto 10px auto;
}
.footer .tel{
	text-align: center;
	color:#fff;
	font-size: 14px;
	margin:10px auto
}
.footer span{
	display: block;
	text-align: center;
	color:#fff;
	font-size: 12px;
	margin-bottom: 20px;
}
.footer .icp{
	text-align: center;
	color:#fff;
	font-size: 14px;
}
