.video-list{
	padding:10px;
}
.video-list .list-item{
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-top:10px;
}
.video-list .list-item .item-img{
	width:100%;
	display: block;
}
.video-list .list-item .item-cont{
	padding:10px;
}
.video-list .list-item .item-cont .cont-tit{
	color:#333;
	font-size: 14px;
	line-height: 30px;
	text-align: left;
}
.video-list .list-item .item-cont .cont-other{
	overflow: hidden;
}
.video-list .list-item .item-cont .cont-other .other-time{
	color:#666;
	font-size: 14px;
	float: left;
	text-align: left;
	line-height: 30px;
	display: block;
}
.video-list .list-item .item-cont .cont-other .other-status{
	display: block;
    background: #0091ff;
    height: 30px;
    line-height: 30px;
    width: 80px;
    float: right;
    text-align: center;
    color: #fff;
}
.video-list .list-item .item-cont .cont-other .other-status.book{
	background:#ffc600;
}
.video-list .list-item .item-cont .cont-other .other-status.live{
	background:#0090ff;
}
.video-list .list-item .item-cont .cont-other .other-status.over{
	background:#00e5bc;
}